/* comentario se ven en css y scss*/
.menuFooter {
  text-align: center;
  word-spacing: 10px;
  max-width: 3000px;
  margin-top: 40rem;
  justify-content: center;
  background: #334756;
  background: radial-gradient(circle, #334756 0%, black 100%);
  border-radius: 20px; }
  .menuFooter :hover {
    background-color: #082032;
    color: aliceblue; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #d98c07;
  background: linear-gradient(61deg, #d98c07 0%, black 30%, black 70%, #d98c07 100%); }

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
  height: 100px;
  transition: all 2s ease; }

li {
  list-style-type: none;
  font-size: 15px;
  width: fit-content;
  height: 2rem; }
  li a {
    color: #334756;
    text-decoration: solid;
    flex-wrap: nowrap;
    text-transform: uppercase;
    font-weight: bold;
    font-size: medium; }
    li a a:hover {
      color: #e6e6e6;
      font-weight: bold; }

.logoSkol {
  display: block;
  margin: auto; }

.tituloPrincipal {
  font-weight: normal;
  font-size: 20px;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  word-spacing: 5px;
  animation-duration: 8s;
  animation-name: tituloPrincipal;
  animation-iteration-count: infinite; }

@keyframes tituloPrincipal {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.imgCentrada {
  text-align: center;
  margin-top: 100px;
  transition: all 3s ease; }
  .imgCentrada .imgCentrada:hover {
    transform: scale(1.2, 1.2); }

h1 {
  color: #d98c07;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: normal;
  word-spacing: normal;
  /*border: 1px solid black;
    background-color: goldenrod;*/
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
  flex: 1; }

.historia {
  background-color: #162146;
  color: #d98c07; }

.productos {
  background-color: #162146; }

.titulosTr {
  background-color: cornflowerblue;
  color: #162146; }

tr {
  color: #d98c07;
  list-style-type: circle;
  list-style-position: inside;
  font-family: 'Grechen Fuemen', cursive; }

h2 {
  color: #ebebeb; }

.form {
  background-color: #a3a3a3;
  display: flex;
  justify-content: center;
  font-weight: bolder; }

/*
.container{
    display: grid;    
    grid-template-areas: "header"
                         "main"                         
                         "footer";
    grid-template-columns: auto;
    grid-template-rows: auto;
}
header{
    grid-area: header;    
    font-size: 15px;
    list-style-type: none; 
    
    
}
main{
    grid-area: main;
    margin-top: 100px; 
}
section{    
    grid-area: section;
    
}
footer{
    grid-area: footer; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
       
}
footer h3{
    text-align: center;
    word-spacing: normal;  
    color: rgb(13, 19, 75);  
}

@media only screen and (max-width: 300px) and (min-width: 100px) {
    body{
        background-color: red;
    }
    p{
        font-size: 20px;
        text-align: center;
    }
    .container{
        margin-top: 60px;
        display: grid;   
        justify-content: center; 
        grid-template-areas: "header"
                             "main"                         
                             "footer";
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
    img{
        width: 50%;
    }
}

@media only screen and (max-width: 625px) and (min-width: 305px){
    body{ 
        background-color: rgb(34, 179, 9);
        }
    p{
            font-size: 20px;
            text-align: center;
    }
    
    img{
            width: 50%;
        }    
    
}

@media only screen and (max-width: 1200px) and (min-width: 626px) {
    body{ 
        background-color: rgb(0, 89, 255);
        }
}*/
