.menuFooter{    
    text-align: center;     
    word-spacing: 10px;
    height: fit-content;
    max-width: 3000px;
    margin-top: 20rem;
    justify-content: center;
    background: rgb(51, 71, 86);
    background: radial-gradient(circle, rgb(51, 71, 86) 0%, rgba(0,0,0,1) 100%);
    border-radius: 20px;
    :hover{
        background-color: rgb(8, 32, 50);
        color: aliceblue;
    }    
    .redes{        
        display: flex;
        flex-direction: row;
        justify-content: center;        
        padding: 5px;
        a{
            margin: .5rem;           
        }        
    }
}




