@mixin nav {   
    .conteiner{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-flow: row nowrap;
                    flex-flow: row nowrap;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
    }
    .logoNavbar{
        img{
            margin-left: 2vw;
            width: auto;
            border-radius: 50%;            
        }
    }
    .botonHamburguesa{
        margin-right: 1rem;
        border-left: 0rem 1rem;
        background-color: #f8f0df;
    }
    ul{
        padding: 0rem 1rem;
        li{
            padding: 0rem 1rem;
            border-left: 1px solid #9d9d9d;
            font-family:"Josefin Sans", sans-serif;
            :hover{
                background-color: #9d9d9d;
                -webkit-transition: 0.5s;
                transition: 0.5s;
            }
            a{
                :hover{
                    color:  #ffffff !important;
                }
            }
        }              
    }

}

header{                 
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0px;
    z-index: 5 !important;    
    @include nav;
}
    
    
    