main{
  
    .logoSkol{    
        display:block;
        margin:auto;
        border-radius: 50%;
    }
    
    .tituloPrincipal{
        font-weight: normal;
        font-size: 20px;
        font-family: 'PT Sans', sans-serif;
        text-align: center;    
        word-spacing: 5px;
        animation-duration: 8s;
        animation-name: tituloPrincipal;
        animation-iteration-count: infinite;
    }
    
    @keyframes tituloPrincipal {
        0%{
            opacity: 0;
        }
        50%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }    
    }
    

    h1{
        color: $colorPrincipal;    
        text-transform: uppercase;
        line-height: 30px;    
        letter-spacing: normal;
        word-spacing: normal;    
        //border: 1px solid black;
        //background-color: goldenrod;    
        border-radius: 25px;
        display: flex;
        justify-content: center;    
        align-items: center;
        text-align: center;
        padding: 0.5rem;
        flex: 1; 
    } 
        
    .containerNosotros{        
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 0rem 1rem 0rem 0rem;
        :hover{
          transition: 0.8s;
          transform:scale(1.04 , 1.04);
      } 
        
        .historia{
                background-color: $colorTerciario;
                color: $colorSecundario;
                height: 100%;
                width: 100%;
                font-family: "Bodoni Moda", serif;
                font-size: 3rem;
                line-height: 2rem;
                font-weight: 500;
                word-spacing: 0.3rem;
                padding: 3rem;
                margin:3rem 0 0 0; ;                      
                border: 1px #000000 solid; 
                   
                        
        }
        .imgCheers{
            margin:30px auto auto auto;
                       
            :hover{
                    transition: 0.8s;
                    transform:scale(1.01 , 1.01);
            }    
        } 
                
    }
    @media (max-width: 1000px) {
        .containerNosotros {
          flex-direction: column;
          width: 350px; } }

    .productos{
        background-color: $colorSecundario;
    }
    
    
    .formu{     
          text-align: center; 
          height: 500px;
          width: 450px;
          max-width: 1200px;        
          display: flex; 
          justify-content: center;                 
          margin-top: 50px; 
          margin-left: auto;
          margin-right: auto;       
          font-weight: bolder;
          background-color:rgba(255, 255, 255, 0.486);
          color: $colorSecundario;      
      }
    

    .botonWzp{ 
        img {
            width: 50px;
            height: 50px;
            position: fixed;
            top: 65%;
            left: 5px;
            z-index: 3 !important;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            opacity: 0.7;            
        }        
    }
    .botonIg{ 
        img {
            width: 50px;
            height: 50px;
            position: fixed;
            top: 75%;
            left: 5px;
            z-index: 3 !important;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            opacity: 0.7;            
        }        
    }
    .botonFb{ 
        img {
            width: 50px;
            height: 50px;
            position: fixed;
            top: 85%;
            left: 5px;
            z-index: 3 !important;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            opacity: 0.7;
        }        
    }   
            
      .prom{
        margin: 30px;                    
      }
      
      

      .card-index {
        margin: auto;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: space-between;
        max-width: 1200px; }
      
      .card-index-cards {
        border-radius: 10px 10px 10px 10px;
        width: 350px;
        height: 300px;
        margin: 2% 0 2% 0;
        background-color: $colorPrincipal;        
        background-size: cover;
        position:relative;
        cursor: pointer;
        transition: all 0.4s ease-out;
        overflow: hidden;
        color: white;
        font-family: "brandon", serif;
        text-align: center; }
      
      .card-index-cards img {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        transition: all 0.4s ease-out; }
      
      .card-index-cards .text {       
        position: absolute;
        padding: 30px;
        height: calc(100% - 60px); }
      
      .card-index-cards h1 {
        margin: 0; }
      
      .card-index-cards h2 {
        margin: 20px 0 0 0;
        transform: translateX(-200px);
        font-family: "brandon", serif; }
      
      .card-index-cards p {
        font-weight: 300;
        margin: 20px 0 0 0;
        line-height: 25px;        
        transform: translateX(200px);
        transition-delay: 0.2s; }
      
      .animate-text {
        opacity: 0;
        transition: all 0.6s ease-in-out; }
      
      .card-index-cards:hover {
        box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.253);
        transform: scale(1.05); }
      
      .card-index-cards:hover h1 {
        color: #7c1d00; }
      
      .card-index-cards:hover img {
        opacity: 0.2; }
      
      .card-index-cards:hover .animate-text {
        transform: translateX(0);
        opacity: 1; }

      
      
}








